apiVersion: v1
kind: ServiceAccount
metadata:
  name: zeropod-node
  namespace: zeropod-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: zeropod:secret-creator
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: zeropod:secret-creator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: zeropod:secret-creator
subjects:
  - kind: ServiceAccount
    name: zeropod-node
