resources:
  - ../production
patches:
  - path: microk8s.yaml
  - patch: |-
      - op: add
        path: /spec/template/spec/initContainers/0/args
        value: []
      - op: add
        path: /spec/template/spec/initContainers/0/args/-
        value: -runtime=microk8s
      - op: add
        path: /spec/template/spec/initContainers/0/args/-
        value: -systemd-cgroup=false
      - op: add
        path: /spec/template/spec/initContainers/0/args/-
        value: -containerd-socket=/run/containerd/containerd.sock
      - op: add
        path: /spec/template/spec/initContainers/0/args/-
        value: -containerd-config=/etc/containerd/containerd-template.toml
      - op: add
        path: /spec/template/spec/initContainers/0/args/-
        value: -containerd-namespace=k8s.io
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: -probe-binary-name=kubelite
    target:
      kind: DaemonSet
