resources:
  - ../base
components:
  - ../in-place-scaling
  - ../pod-updater
  - ../status-labels
images:
  - name: manager
    newName: ghcr.io/ctrox/zeropod-manager
    newTag: dev
  - name: installer
    newName: ghcr.io/ctrox/zeropod-installer
    newTag: dev
patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: -debug=true
    target:
      kind: DaemonSet
