name: ci

on: [pull_request]

jobs:
  staticcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - uses: dominikh/staticcheck-action@v1.4.0
        with:
          install-go: false
          version: "2025.1.1"

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: test
        run: sudo --preserve-env make test

  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Install protoc-gen-go
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.36.10
          go install github.com/containerd/ttrpc/cmd/protoc-gen-go-ttrpc@v1.2.7

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "32.1"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: build ebpf image
        run: make build-ebpf

      - name: generate ttrpc and ebpf
        run: make generate

      - name: check for diff
        run: git diff --exit-code

  e2e:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: e2e
        run: make test-e2e
